img{
    max-width:100%;
}
h1 {
    color: #590707;
    font-size: xxx-large;
}

h2 {
    color: #da2727;
    text-align: left;
}

div {
    width: calc(25% - 30px);
    float: left;
    border: 1px solid #0228ea; /*đường viền*/
    margin: 10px 15px; /*khoảng cách của ảnh*/
    padding: 10px 15px; /*khoảng cách giữa khung và boder*/
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #0b164f;
    border-radius: 6px; /* chỉnh độ tròn của góc*/
    transition: all 300ms;
    background-color: #decfcf;
}

body {
    margin: 50px;
}

img {
    max-width: 100%;
}

.col {
    margin-top: auto;
    border: 1px solid #ea0248;
    background-color: #989393;
    width: 850px;
}