div{
    width:calc(25% - 30px);
    transition:all 300ms;
    box-sizing:border-box;
}
h1 {
    width: 500px;
}
img{
    max-width: 50%;
    padding: 5px 50px;
    float: right;
}
body{
    text-align-all: center;
}

